data/*
saliencytools/__pycache__
*.pyc
.vscode/settings.json
.Readm2.md
*.whl
*.tar.gz
top_levels.txt
*.egg-info
# Ignore Sphinx build artifacts
docs/*build/
docs/make.bat
Makefile
*.pdf
*.png
!docs/_static/heatmap.png # keep the heatmap.png file for documentation